<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League of Relax | Inscription</title>
    <link rel="stylesheet" href="../public/css/formulaire.css">
    <link rel="icon" href="../public/img/LoL_icon.png">
</head>
<body>
    <a target="_blank" id="logo" href="https://www.riotgames.com/fr"><img class="RL" src="../public/img/Riot_Games_Logo.png" alt="Riot logo"></a>
    <form action="/" method="get">
        <h1>Inscription</h1>  
        <input type="text" name="pseudo" id="pseudo" placeholder="Nom d'utilisateur">
        <input type="password" name="mdp" id="mdp" placeholder="Mot de passe">
        <input type="submit" value='Suivant'>
        <a href="/connexion">Vous avez déjà un compte ?</a>
    </form>
</body>
</html>